@font-face {
  font-family: 'Apercu';
  src: url('fonts/apercu_regular_pro.otf'); /* IE9 Compat Modes */
 }

@font-face {
  font-family: 'Apercu Medium';
  src: url('fonts/apercu_medium_pro.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Apercu Bold';
  src: url('fonts/apercu_bold_pro.otf'); /* IE9 Compat Modes */
}

 body {background-color: #fff; font: 1.4em "Apercu", sans-serif; margin: 0; color:#1B20E8;}

 #border {margin:40px; padding:40px 40px 180px 40px; z-index:1000; background:transparent; position:relative; 

    border: 20px solid transparent;

    -moz-border-image: -moz-linear-gradient(top, rgba(27,31,232,1) 0%, rgba(27,22,58,1) 100%);
    -webkit-border-image: -webkit-linear-gradient(top, rgba(27,31,232,1) 0%, rgba(27,22,58,1) 100%);
    border-image: linear-gradient(to bottom, #1B20E8 0%, #1b163a 100%);

    border-image-slice: 2;
    margin-bottom:-250px;

}

#intro {width:75%; margin:auto; margin-bottom:100px;}

#container {max-width:1166px; margin:auto; text-align:center; padding:0 40px;}

nav {position:relative; top:-100px;}
ul {list-style-type: none; margin:0; padding:0;}
nav .left {float:left;}
nav .right {float:right; margin-left:20px;}



#youtube {padding:40px; color:#fff; position:relative;cursor: pointer;}





div.stretchy-wrapper {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;

    background:     
linear-gradient(
      rgba(255, 113, 156, 0.80), 
      rgba(255, 113, 156, 0.80)
    ),
url('assets/youtube.jpg');
background-size:100%; background-position:center center;
-webkit-box-shadow: 40px 40px 0px 0px #FF004E;
-moz-box-shadow: 40px 40px 0px 0px  #FF004E;
box-shadow: 40px 40px 0px 0px  #FF004E;
}

div.stretchy-wrapper > #youtube {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

/* Other aspect ratios to try:
 * 56.25% = 16:9
 * 75% = 4:3
 * 66.66% = 3:2
 * 62.5% = 8:5
 */


#youtube:hover .circle {border:20px solid #FF004E;}
#youtube:hover .circle_inner:before {border-color: transparent transparent transparent #FF004E;}


#youtube h1 {bottom:50px; position:absolute; text-align:center; width:93.5%; font-size:4em; font: 'Apercu Bold'; font-weight:bold;}
#youtube h2 {margin-top:80px;}
#youtube h3 {bottom:40px; font-weight:normal; position:absolute; text-align:center; width:93.5%;}



.icon {width:20px;}





.circle{
    background: transparent;
    border:20px solid #fff;
    border-radius: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    margin: -100px 0 0 -70px;
}
.circle_inner{
    position: relative;
    height: 100%;
}
.circle_inner:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 24px 50px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    top: 37%;
    left: 40%;
    margin: -10px 0 0 -7px;
}

h1 {font-size:1.5em;}

#series {float:left; margin:140px 40px 40px 0; padding:40px 40px 40px 170px;}

    #series li {font-size:1.5em; padding:8px;}







div.gram-wrapper {
    width: 39%;
    padding-bottom: 39%; /* 16:9 */
    position: relative;
    float:right;
    margin-top:290px;
    margin-right:80px;

background:     
linear-gradient(
      rgba(255,100,0,.80), 
      rgba(255,100,0,.80)
    ),
url('assets/instagram.jpg');
background-size:100%; background-position:center center;
-webkit-box-shadow: 40px 40px 0px 0px #FF3300;
-moz-box-shadow: 40px 40px 0px 0px  #FF3300;
box-shadow: 40px 40px 0px 0px  #FF3300;
}

div.gram-wrapper > #ig {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}


#ig {color:#fff; padding:40px; position:relative;
cursor: pointer;
}

#ig .time {bottom:40px; position:absolute; margin:0 auto; width:88%;}

#ig:hover {

background: 
url('assets/instagram.jpg');
background-size:100%; background-position:center center;

}

#ig:hover .desc {display:none;}

#ig:hover a {display:none;}

#ig:hover img {display:none;}













#tech {background-color:#1B20E8; color:#fff; float:left; padding:80px; margin:200px 80px 200px 100px; clear:left;
-webkit-box-shadow: 40px 40px 0px 0px #1B163A;
-moz-box-shadow: 40px 40px 0px 0px  #1B163A;
box-shadow: 40px 40px 0px 0px  #1B163A;
}

    #tech li {padding:8px;}

#twitter {clear:right; padding:40px; width:30%; float:left; margin-top:200px; margin-left:80px;}

.time {margin-top:30px;font-size:.8em;}




h2 {font-size:.8em; font-weight:lighter; font:"Apercu"; margin-bottom:40px;}



a:link {
    color:#1B20E8;}
a:visited {
    color:#1B20E8;}
a:hover {
    text-decoration: none; color:#1B20E8;}
a:active {
    text-decoration: underline; color:#1B20E8;}



.white a:link {
    color:#fff;}
.white a:visited {
    color:#fff;}
.white a:hover {
    text-decoration: none; color:#fff;}
.white a:active {
    text-decoration: underline; color:#fff;}



#clear {clear:both;}
 
 #footer {background-color:#1B20E8; color:#fff; padding:60px 100px 60px 100px; z-index:-1000; position:relative; font-size:.8em;}


#footerleft {float:left;width:50%; padding-top:90px; text-align:left; color:#ffffff; }
#footerright {float:left; width:50%; text-align:right; color:#fff;}


